<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>

    <!--<add key="Apartments" value="Data\appartments.xml" />
    <add key="Buildings" value="Data\buildings.xml" />
    <add key="Emails" value="Data\emails.xml" />
    <add key="Ids" value="Data\ids.xml" />
    <add key="Owners" value="Data\owners.xml" />
    <add key="Telephones" value="Data\telephones.xml" />-->

    <!-- Choose among data accessors -->
    <!--<add key="dataAccess" value="mySql" />-->
    <add key="dataAccess" value="sqLite" />
    <!--<add key="dataAccess" value="sqlServerCompact" />-->

    <!-- Database backup information -->
    <add key="backupFolder" value="E:\Backup" />
    <add key="backupInterval" value="24" /> <!--hours-->
    <add key="backupLogFile" value="E:\Backup\backup.log"/>
  </appSettings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SQLite"
                type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
      <!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />-->
      <!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />-->
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <!--<remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />-->

      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
           description=".NET Framework Data Provider for SQLite (Entity Framework 6)"
           type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />

      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".NET Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />

      <!--<remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <!-- SQL Server Compact Connection String -->
    <!--<add name="RoomForRentContext" connectionString="Data Source=E:\Code\Projects\Demo\RoomForRentCOOL\RoomForRent.sdf;Password=iceheart361987" providerName="System.Data.SqlServerCe.4.0" />-->
    <!--<add name="RoomForRentContext" connectionString="Data Source=F:\Projects\Demo\RoomForRentCOOL\RoomForRent.sdf;Password=iceheart361987" providerName="System.Data.SqlServerCe.4.0" />-->

    <!-- SQLite Connection String -->
    <add name="RoomForRentContext"
         connectionString="data source=|DataDirectory|room_for_rent.sqlite"
         providerName="System.Data.SQLite" />

    <!-- MySql Connection String -->
    <!--<add name="RoomForRentContext"
         connectionString="server=localhost;user id=root;database=room_for_rent;port=3306;allowuservariables=False;password=iceheart361987"
         providerName="MySql.Data.MySqlClient" />-->

    <!-- SQL Server Connection String -->
    <!--<add name="RoomForRentContext"
             connectionString="Data Source=CUTEITGUY\SQLEXPRESS;Initial Catalog=RoomForRent;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
             providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>